Package: emt.paisseon.ulysses
Name: Ulysses
Version: 1.0
Architecture: iphoneos-arm
Description: Unlimited subscription for the Ulysses writing app
Maintainer: Paisseon
Author: Paisseon
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
Conflicts: moe.emilia.ulysses
