Package: emt.paisseon.ulysses
Name: Ulysses Crack
Version: 1.1
Architecture: iphoneos-arm
Description: Ulysses subscription for free
Maintainer: Paisseon
Author: Paisseon
Section: Cracks
Depends: mobilesubstrate (>= 0.9.5000)
SileoDepiction: https://paisseon.github.io/depictions/ulysses-crack.json
Depiction: https://pinpal.github.io/Sileo-Depiction-WebViews/?json=https://paisseon.github.io/depictions/ulysses-crack.json&name=Ulysses-Crack&dev=Paisseon
